

//@import "~antd/dist/antd.css";
//@icon-url:"/assest/fonts/iconfont/iconfont";
//@import "/assets/fonts/iconfont/iconfont.css";

body{
  display: flex;

  #root{
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

//container布局header，content样式

.containerHeader,.containerContent{
  background: #fff;
  margin: 10px 20px;
  padding: 15px 10px;
}
.containerHeader{
  margin: 0;
}
.containerContent{
  flex: 1;
  margin-bottom: 20px;
  //min-height: 75vh;
  padding: 30px 10px;
}

.detailBtn {
  >button {
      margin-right: 20px;
  }
}